/* write your override styles here */

/*.tag-1 {*/
/*  background: url(../images/tag-1.png) no-repeat;*/
/*  z-index: 7;*/
/*  display: none;*/
/*}*/

#wall .tag-1 {
  display: none;
}

/*<div id="wall">*/
/*    <div class="tag-1"></div>*/
/*    <div id="tag-2"></div>*/
/*    <div id="tag-3" class="slick wicked"></div>*/
/*    <div class="parent">*/
/*      <div id="tag-4"></div>*/
/*    </div>*/

#wall #tag-2 {
  display: none;
}


#wall .parent #tag-3 {
  display: none;
}

#wall .tag-4 {
  display: none;
}

